{% extends 'layout-experiments.html.twig' %}
{% block head %}
<style>
  .delta {
    margin-left: 100px;
    position: relative;
    min-height: 48px;
  }
  .delta .name,
  .delta .value,
  .delta .value-diff,
  .delta .value-indicator {
    display: inline-block;
    position: absolute;
  }
  .delta .name {
    top: -2px;
    font-size: 1.1em;
    font-weight: bold;
    color: rgba(185, 185, 185, 0.83);
  }
  .delta.disabled .name {
    color: #666;
  }
  .delta .value,
  .delta .value-diff {
    top: 10px;
    font-size: 1.4em;
    font-weight: bold;
    opacity: 0.25;
  }
  .delta.disabled .value {
    color: #333;
  }

  .delta .value-diff {
    top: 1px;
    font-size: 0.85em;
    left: -45px;
    color: #A94442;
    text-align: right;
    width: 40px;
  }
  .delta .value-diff.positive {
    color: #00D049;
  }
  .delta .value-diff.positive:before {
    content: "+";
  }
  .delta.disabled .value-diff {
    display: none;
  }
  .delta .value-indicator {
    top: 24px;
    left: 0px;
    min-height: 2px;
    background-color: #ff0099;
  }
  .delta.disabled .value-indicator {
    background-color: #222;
  }
</style>
{% endblock %}
{% block body %}
    {{ parent() }}
    <div id="comic">
        <div id="page">
          <div class="display"></div>
          <div class="page-indicator"></div>
          <div class="thumnails"></div>
        </div>
        <div id="characters"></div>
    </div>
{% endblock %}
{% block includes %}
  <script typw="text/javascript">
    var configs = {{configs|json_encode|raw}}
    var experimentConfigs = {{experimentConfigs|json_encode|raw}}
  </script>

    <script type="text/template" id="template-page">
        <img src="<%-content%>" />
    </script>

    <script type="text/template" id="template-character-box">
        <div data-character-name="<%-name%>" class="character"><h3><%-name%></h3><div class="deltas"></div></div>
    </script>

    <script type="text/template" id="template-character-delta">
        <div data-delta-name="<%-name%>" data-delta-value="<%-value%>" data-delta-previous-value="<%-previousValue%>" class="delta">
          <div class="value-indicator"></div>
          <div class="name"></div>
          <div class="value"></div>
          <div class="value-diff"></div>

        </div>
    </script>


  <script type="text/javascript" src="http://assets.dethbird.com/js/greensock/TweenMax.min.js"></script>
  <script type="text/javascript" src="http://assets.dethbird.com/js/greensock/plugins/Physics2DPlugin.min.js"></script>
  <script type="text/javascript" src="/js/pages/experiments/comics001.js"></script>
{% endblock %}
