{% extends 'layout-experimental.html.twig' %}
{% block head %}
    <script type="text/javascript" src="js/views/experimental.js"></script>
{% endblock %}
{% block body %}
    {{ parent() }}
    <div id="the-experiment"></div>
{% endblock %}

