<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>whitelabel website</title>
    <link rel="stylesheet" href="/css/site.css">
    </script>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="body-content">
	 {% block body %}{% endblock %}
    </div>
  </body>
</html>