/* BASICS */
.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 300px;
  color: black;
}
/* PADDING */
.CodeMirror-lines {
  padding: 4px 0;
  /* Vertical padding around content */
}
.CodeMirror pre {
  padding: 0 4px;
  /* Horizontal padding of content */
}
.CodeMirror-scrollbar-filler,
.CodeMirror-gutter-filler {
  background-color: white;
  /* The little square between H and V scrollbars */
}
/* GUTTER */
.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap;
}
.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap;
}
.CodeMirror-guttermarker {
  color: black;
}
.CodeMirror-guttermarker-subtle {
  color: #999;
}
/* CURSOR */
.CodeMirror-cursor {
  border-left: 1px solid black;
  border-right: none;
  width: 0;
}
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}
.cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0 !important;
  background: #7e7;
}
.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1;
}
.cm-animate-fat-cursor {
  width: auto;
  border: 0;
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
  background-color: #7e7;
}
@-moz-keyframes blink {
  50% {
    background-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    background-color: transparent;
  }
}
@keyframes blink {
  50% {
    background-color: transparent;
  }
}
/* Can style cursor different in overwrite (non-insert) mode */
.cm-tab {
  display: inline-block;
  text-decoration: inherit;
}
.CodeMirror-rulers {
  position: absolute;
  left: 0;
  right: 0;
  top: -50px;
  bottom: -20px;
  overflow: hidden;
}
.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  top: 0;
  bottom: 0;
  position: absolute;
}
/* DEFAULT THEME */
.cm-s-default .cm-header {
  color: blue;
}
.cm-s-default .cm-quote {
  color: #090;
}
.cm-negative {
  color: #d44;
}
.cm-positive {
  color: #292;
}
.cm-header,
.cm-strong {
  font-weight: bold;
}
.cm-em {
  font-style: italic;
}
.cm-link {
  text-decoration: underline;
}
.cm-strikethrough {
  text-decoration: line-through;
}
.cm-s-default .cm-keyword {
  color: #708;
}
.cm-s-default .cm-atom {
  color: #219;
}
.cm-s-default .cm-number {
  color: #164;
}
.cm-s-default .cm-def {
  color: #00f;
}
.cm-s-default .cm-variable-2 {
  color: #05a;
}
.cm-s-default .cm-variable-3,
.cm-s-default .cm-type {
  color: #085;
}
.cm-s-default .cm-comment {
  color: #a50;
}
.cm-s-default .cm-string {
  color: #a11;
}
.cm-s-default .cm-string-2 {
  color: #f50;
}
.cm-s-default .cm-meta {
  color: #555;
}
.cm-s-default .cm-qualifier {
  color: #555;
}
.cm-s-default .cm-builtin {
  color: #30a;
}
.cm-s-default .cm-bracket {
  color: #997;
}
.cm-s-default .cm-tag {
  color: #170;
}
.cm-s-default .cm-attribute {
  color: #00c;
}
.cm-s-default .cm-hr {
  color: #999;
}
.cm-s-default .cm-link {
  color: #00c;
}
.cm-s-default .cm-error {
  color: #f00;
}
.cm-invalidchar {
  color: #f00;
}
.CodeMirror-composing {
  border-bottom: 2px solid;
}
/* Default styles for common addons */
div.CodeMirror span.CodeMirror-matchingbracket {
  color: #0f0;
}
div.CodeMirror span.CodeMirror-nonmatchingbracket {
  color: #f22;
}
.CodeMirror-matchingtag {
  background: rgba(255, 150, 0, 0.3);
}
.CodeMirror-activeline-background {
  background: #e8f2ff;
}
/* STOP */
/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */
.CodeMirror {
  position: relative;
  overflow: hidden;
  background: white;
}
.CodeMirror-scroll {
  overflow: scroll !important;
  /* Things will break if this is overridden */
  /* 30px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -30px;
  margin-right: -30px;
  padding-bottom: 30px;
  height: 100%;
  outline: none;
  /* Prevent dragging from highlighting the element */
  position: relative;
}
.CodeMirror-sizer {
  position: relative;
  border-right: 30px solid transparent;
}
/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actual scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar,
.CodeMirror-hscrollbar,
.CodeMirror-scrollbar-filler,
.CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none;
}
.CodeMirror-vscrollbar {
  right: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.CodeMirror-hscrollbar {
  bottom: 0;
  left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
.CodeMirror-scrollbar-filler {
  right: 0;
  bottom: 0;
}
.CodeMirror-gutter-filler {
  left: 0;
  bottom: 0;
}
.CodeMirror-gutters {
  position: absolute;
  left: 0;
  top: 0;
  min-height: 100%;
  z-index: 3;
}
.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -30px;
}
.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: none !important;
  border: none !important;
}
.CodeMirror-gutter-background {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 4;
}
.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}
.CodeMirror-gutter-wrapper ::selection {
  background-color: transparent;
}
.CodeMirror-gutter-wrapper ::-moz-selection {
  background-color: transparent;
}
.CodeMirror-lines {
  cursor: text;
  min-height: 1px;
  /* prevents collapsing before first draw */
}
.CodeMirror pre {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual;
}
.CodeMirror-wrap pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}
.CodeMirror-linebackground {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}
.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  overflow: auto;
}
.CodeMirror-rtl pre {
  direction: rtl;
}
.CodeMirror-code {
  outline: none;
}
/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.CodeMirror-cursor {
  position: absolute;
  pointer-events: none;
}
.CodeMirror-measure pre {
  position: static;
}
div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3;
}
div.CodeMirror-dragcursors {
  visibility: visible;
}
.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible;
}
.CodeMirror-selected {
  background: #d9d9d9;
}
.CodeMirror-focused .CodeMirror-selected {
  background: #d7d4f0;
}
.CodeMirror-crosshair {
  cursor: crosshair;
}
.CodeMirror-line::selection,
.CodeMirror-line > span::selection,
.CodeMirror-line > span > span::selection {
  background: #d7d4f0;
}
.CodeMirror-line::-moz-selection,
.CodeMirror-line > span::-moz-selection,
.CodeMirror-line > span > span::-moz-selection {
  background: #d7d4f0;
}
.cm-searching {
  background: #ffa;
  background: rgba(255, 255, 0, 0.4);
}
/* Used to force a border model for a node */
.cm-force-border {
  padding-right: .1px;
}
@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden;
  }
}
/* See issue #2901 */
.cm-tab-wrap-hack:after {
  content: '';
}
/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext {
  background: none;
}
/* CODEMIRROR FOUNTAIN */
.cm-s-storystation.CodeMirror {
  font-family: 'PT Mono', monospace !important;
  background: #fcfcfc;
  color: #000;
  line-height: 1.4375;
  font-size: .85rem !important;
}
.CodeMirror-scroll {
  max-height: 900px;
}
.cm-s-storystation span.cm-meta {
  color: #FF1717;
}
.cm-s-storystation span.cm-keyword {
  line-height: 1em;
  font-weight: bold;
  color: #7F0055;
}
.cm-s-storystation span.cm-atom {
  color: #219;
}
.cm-s-storystation span.cm-number {
  color: #164;
}
.cm-s-storystation span.cm-def {
  color: #00f;
}
.cm-s-storystation span.cm-variable {
  color: black;
}
.cm-s-storystation span.cm-variable-2 {
  color: #0000C0;
}
.cm-s-storystation span.cm-variable-3 {
  color: #00C0C0;
}
.cm-s-storystation span.cm-property {
  color: black;
}
.cm-s-storystation span.cm-operator {
  color: black;
}
.cm-s-storystation span.cm-comment {
  color: #3F7F5F;
}
.cm-s-storystation span.cm-string {
  color: #2A00FF;
}
.cm-s-storystation span.cm-string-2 {
  color: #f50;
}
.cm-s-storystation span.cm-qualifier {
  color: #555;
}
.cm-s-storystation span.cm-builtin {
  color: #30a;
}
.cm-s-storystation span.cm-bracket {
  color: #cc7;
}
.cm-s-storystation span.cm-tag {
  color: #170;
}
.cm-s-storystation span.cm-attribute {
  color: #00c;
}
.cm-s-storystation span.cm-link {
  color: #219;
}
.cm-s-storystation span.cm-error {
  color: #f00;
}
.cm-s-storystation span.cm-character,
.cm-s-storystation span.cm-character-parenthetical,
.cm-s-storystation span.cm-character-dual {
  color: #e02edf;
  font-weight: bold;
  font-size: 1.2em;
}
.cm-s-storystation span.cm-character-parenthetical {
  font-style: italic !important;
  color: #b425c3;
}
.cm-s-storystation span.cm-character-dual {
  color: #0bce00;
}
.cm-s-storystation span.cm-dialogue {
  color: #1c7c8c;
}
.cm-s-storystation span[class^="cm-section"] {
  color: #6a0b8d;
  font-weight: bold;
  font-size: 1.1em;
}
.cm-s-storystation span.cm-section-1 {
  font-size: 1.7em;
}
.cm-s-storystation span.cm-section-2 {
  font-size: 1.6em;
}
.cm-s-storystation span.cm-section-3 {
  font-size: 1.5em;
}
.cm-s-storystation span.cm-section-4 {
  font-size: 1.3em;
}
.cm-s-storystation span.cm-heading {
  color: #6629d8;
  font-weight: bold;
}
.cm-s-storystation span.cm-section-image {
  background-color: #f5faff;
  color: #1665b9;
  font-size: 0.9em;
  text-decoration: underline;
}
.cm-s-storystation span.cm-section-duration {
  color: #1c8c36;
  font-size: 0.9em;
  background-color: #f6fff8;
  padding: 0 2px 0 2px;
}
.cm-s-storystation span.cm-title-keyword {
  color: #bf14d2;
  font-weight: bold;
}
.cm-s-storystation span.cm-lyrics {
  color: #4188d3;
  font-style: italic;
}
.cm-s-storystation span.cm-section-milestone {
  color: #a54538;
  font-size: 0.9em;
}
.cm-s-storystation span.cm-synopsis {
  color: gray;
  font-style: italic;
  background-color: #EFEFEF;
}
.cm-s-storystation span.cm-note {
  color: #6f9034;
  font-style: italic;
  background-color: #f6ffdf;
}
.cm-s-storystation span.cm-page-break {
  color: #9B3676;
  font-weight: bold;
}
.cm-s-storystation .CodeMirror-activeline-background {
  background: #e8f2ff;
}
.cm-s-storystation .CodeMirror-matchingbracket {
  outline: 1px solid grey;
  color: black !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nobile', sans-serif;
}
.body {
  font-family: 'Hind Vadodara', sans-serif;
}
.card.card-highlighted {
  background-color: #F9EAFF !important;
}
.card.card-playing {
  background-color: #FF9651 !important;
}
.card.card-selected {
  background-color: #EFC1FF !important;
}
.display-header {
  margin: .5em 0 1em 0 !important;
  font-family: 'Cherry Swash', cursive !important;
  font-size: 2.8rem !important;
  color: #777 !important;
}
code {
  font-size: .85em;
  font-family: 'PT Mono', monospace !important;
  color: red;
  background-color: #eee;
  padding: 2px;
}
.CodeMirror {
  height: auto;
}
.duration {
  color: #1c8c36;
  font-size: 0.9em;
  background-color: #f6fff8;
  padding: 0 2px 0 2px;
}
.external-header h1,
.external-header h2,
.external-header h3,
.external-header h4,
.external-header h5,
.external-header h6 {
  color: white !important;
}
.external-main-menu {
  background-color: rgba(34, 34, 34, 0.25) !important;
}
.fountain {
  color: #000 !important;
  font-family: 'Crimson Text', serif;
  font-size: 1.1rem !important;
  margin: 1em 2em 1em 2em;
  text-align: left;
}
.fountain h1,
.fountain h2,
.fountain h3,
.fountain h4,
.fountain h5,
.fountain h6 {
  font-family: 'Crimson Text', serif;
  color: #000 !important;
}
.fountain h1 {
  font-size: 2.12em !important;
}
.fountain h2 {
  font-size: 2.0em !important;
}
.fountain h3 {
  font-size: 1.6em !important;
}
.fountain h4 {
  font-size: 1.3em !important;
}
.fountain h5 {
  font-size: 1.1em !important;
}
.fountain .dialogue-container {
  text-align: left;
  margin: 1.5em 10% 1.5em 20%;
}
.fountain .dialogue-container.dual .character::after {
  content: " (together)";
}
.fountain hr {
  margin: 1.6em 0 1.6em 0 !important;
}
.fountain .action {
  margin: .5em 0 1.5em 0 !important;
  padding: 0 7% 0 7% !important;
}
.fountain .character-avatar {
  margin: -0.5em 0.5em 0 0 !important;
  height: 24px !important;
  width: 24px !important;
}
.fountain .bold {
  font-weight: bold;
}
.fountain .centered {
  text-align: center;
}
.fountain .dialogue {
  margin: 2em 0 2.6em 0 !important;
  text-align: center;
}
.fountain .divider {
  margin: 0.3em 0 0.3em 0;
}
.fountain .header {
  font-family: 'Crimson Text', serif;
  margin: .3em 0 .3em 0 !important;
}
.fountain .italic {
  font-style: italic;
}
.fountain .lyrics {
  font-style: italic;
  color: grey;
  padding: 0 7% 0 7% !important;
}
.fountain .note {
  margin: .5em 7% 1.5em 7% !important;
  color: #6f9034;
  font-style: italic;
  background-color: #f6ffdf;
  display: inline-block;
}
.fountain .note-inline {
  color: #6f9034;
  font-style: italic;
  background-color: #f6ffdf;
}
.fountain .panel-image {
  padding: 0 7% 0 7% !important;
}
.fountain .parenthetical {
  font-style: italic;
}
.fountain .scene {
  margin: 0.75em 7% .75em 7% !important;
}
.fountain .section {
  margin: 0.3em 0 0.3em 0 !important;
}
.fountain .section-icon {
  display: inline-block !important;
  margin: 0 .2em 0 0 !important;
}
.fountain .section-icon-act {
  max-width: 0.9em;
  height: auto;
  margin-top: -0.4em !important;
}
.fountain .section-icon-sequence {
  max-width: 0.9em;
  height: auto;
  margin-top: -0.3em !important;
}
.fountain .section-icon-scene {
  max-width: 0.9em;
  height: auto;
  margin-top: -0.3em !important;
}
.fountain .section-icon-panel {
  max-width: 0.9em;
  height: auto;
  margin-top: -0.4em !important;
}
.fountain .section-panel {
  border: none !important;
}
.fountain .synopsis {
  padding: 0.5em;
  margin: 0.75em 7% .75em 7% !important;
  background-color: #e6e6e6;
}
.fountain .title-token {
  margin-bottom: .2em;
}
.fountain .title,
.fountain .credit,
.fountain .author,
.fountain .authors,
.fountain .source {
  margin-bottom: .3em;
  text-align: center;
}
.fountain .token-text-dialogue {
  padding: 0 25% 0 25% !important;
  text-align: left;
}
.fountain .token-text-section {
  display: inline-block !important;
}
.fountain .transition {
  margin: 0.75em 7% .75em 7% !important;
}
.fountain .underline {
  text-decoration: underline;
}
.fountain-container {
  max-height: 900px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1.2em !important;
}
.hidden.menu {
  display: none;
}
i.trash {
  cursor: pointer;
}
.external-header {
  min-height: 165px;
  padding: .5em 0em;
  background-image: url('/img/purple-space-landscape.jpg') !important;
  background-position-y: -504px !important;
}
.label {
  font-weight: bold;
}
.masthead.segment {
  min-height: 620px;
  padding: .5em 0em;
  background-image: url('/img/purple-space-landscape.jpg') !important;
  background-position-y: -185px !important;
}
.masthead img.logo {
  margin-top: 5.5em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}
.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}
.quote.stripe.segment {
  padding: 0em;
}
.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}
.footer.segment {
  margin-top: 3em !important;
  padding: 5em 0em;
}
.main-content {
  margin-top: 0 !important;
  min-height: 700px !important;
}
.secondary.pointing.menu .toc.item {
  display: none;
}
.script-cast-list .avatar {
  margin-right: 0.4em !important;
}
.script-input {
  padding: 2em !important;
  font-family: 'PT Mono', monospace !important;
  font-size: .8em !important;
  background-color: black !important;
  color: #73ffe5 !important;
  text-shadow: 2px 2px 10px rgba(115, 255, 229, 0.66) !important;
  white-space: pre-wrap !important;
}
div.script-input {
  white-space: pre;
  white-space: pre-wrap !important;
}
.story-column {
  padding: 2px !important;
}
.story-column .row {
  padding-bottom: 0 !important;
  padding-top: 0.62rem !important;
}
.story-column .row:last-child {
  padding-bottom: 1rem !important;
}
.story-column .row.act-item {
  margin-left: 8px;
}
.story-column .row.sequence-item {
  margin-left: 16px;
}
.story-column .row.scene-item {
  margin-left: 24px;
}
.story-column .row.panel-item {
  margin-left: 32px;
}
.story-form-column {
  max-height: 900px;
  overflow-x: hidden;
  overflow-y: auto;
}
.story-player-column {
  max-height: 986px;
  overflow-x: hidden;
  overflow-y: auto;
}
.story-player-column-item {
  padding: .5rem !important;
}
.story-player .player {
  height: 480px;
  text-align: center;
}
.story-player .player img {
  max-height: 100%;
  display: inline-block;
}
.tags-input .label {
  padding-left: 1.2em !important;
  padding-right: 0.5em !important;
}
.ui.spaced.image {
  margin: 0 .5em .5em .5em;
}
@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }
  .masthead.segment {
    min-height: 350px;
  }
  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
}
