body {
    color: white;
    background-color: #191919;
    padding: 5px;
    font-family: 'Cousine', ;
}
input {
  color: #111;
}
section {
  margin-top: 50px;
}
card {
  background-color: #222;
  padding: 15px;
  margin-bottom: 10px;
  display: inline-block;
  width: 270px;
  vertical-align: top;
  word-wrap: break-word;
}
preview {
  text-align: center;
  display: block;
  background-color: #fff;
}
thumbnail {
  cursor: pointer;
  display: inline-block;
}
preview img.landscape,
thumbnail img.landscape {
  width: 250px;
  height: auto;
}
thumbnail img.landscape {
  width: 60px;
}
preview img.portrait,
thumbnail img.portrait {
  height: 250px;
  width: auto;
}
thumbnail img.portrait {
  height: 60px;
}
thumbnail img {
  opacity: 0.5;
}
thumbnail.active img, thumbnail img:hover {
  opacity: 1;
}
thumbnail.active {
  box-shadow: 0px 0px 6px 6px rgba(20, 137, 194, 0.8);
}
div.thumbnails {
  margin: 5px 0px 5px 0px;
}
name {
  font-weight: bold;
  font-size: 1.5em;
}
occupation, type, h3 {
  color:rgb(20, 137, 194);
}
description {
  max-width: 1024px;
  white-space: pre-line;
  padding: 5px 0px 5px 15px;
  display: block;
}
