a {
  color: #49ABFF;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #222;
  color: #fff;
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
description {
  padding: 5px;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Patua One', cursive;
}
input, select, textarea {
  color: #000;
}
overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.75);
    display:none;
}
overlay content {
    display: block;
    text-align: center;
    padding: 25px;
    cursor: zoom-out;
}
overlay content img.landscape {
  max-width: 90%;
  height: auto;
}
overlay content img.portrait {
  max-height: 90%;
  width: auto;
}
preview img, thumbnail img {
  cursor: pointer;
}
thumbnail img {
  margin-bottom: 5px;
}
thumbnail.active img {
  box-shadow: 0px 0px 4px 4px rgba(20, 137, 194, 0.9);
}
.card {
  background-color: #1A1A1A;
  border: 1px solid #333;
}
.card img {
     width: 100%;
}
.card-block {
  padding: 10px;
}
/* Bounce In */
.hvr-bounce-in {
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.label {
  font-family: 'Roboto', sans-serif;
}
.quantifier {
  font-size: 40%;
  vertical-align: middle;
}
.page-number {
  background-color: #313131;
  font-size: 90%;
  margin: 5px 0px 5px 0px;
}
.storyboard-comment {
    background-color: #333;
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 10px;
}
.storyboard-comment:nth-child(even) {
    background-color: #252525;
}
.storyboard-comment-status-resolved {
    opacity: 0.33;
}
.storyboard-comment-status-resolved .comment {
    text-decoration: line-through;
}
.storyboard-notes {
    background-color: #111;
    margin: 10px 0px 10px 0px;
    border-radius: 10px;
    padding: 10px;
    font-size: .85rem;
}
.comment {
    font-size: .85rem;
}
.comment-annotation {
    text-align: right;
    font-size: .75rem;
}
.user-login {
    color: #49ABFF;
}
.timestamp {
    color: #666;
}
