/** BASE ELEMENTS */

a {
    cursor: pointer;
    color: #ff0099;
}
a:hover {
    color: #ff6699;
}
a.btn {
    text-shadow: none;
}
blockquote {
    border: none;
}
body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-color: #000;
    color: #fff;
    padding-bottom: 50px;
    text-shadow: 1px 2px 4px #000;
}
h1,h2,h3,h5,h5,h6 {
    font-weight: bold;
    margin: 10px 0px 10px 0px;
}
.body-content {
    position: relative;
    width: 95%;
    min-height: 1024px;
    display: inline-block;
    text-align: left;
}
.content-block {
    margin: 10px 0px 25px 0px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
#loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,1);
    overflow: hidden;
}
#loader_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -86px;
    z-index: 1001;
}
#loader .dot {
    background-color: #ff0099;
    position: absolute;
    z-index: 1000;
    top: 50%;
}
#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.75);
    display:none;
}
#overlay .contents {
    padding-top: 25px;
}

#portfolio-gallery .section {
    display: none;
}
#portfolio-gallery .thumbnail {
    display: inline-block;
    border: 1px solid #111;
    margin: 10px;
    padding: 0;
    background: none;
    cursor: pointer;
}
#portfolio-gallery ul.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}
#portfolio-gallery ul.menu li {
    display: inline-block;
    margin-right: 5px;
}
#portfolio-gallery a.section-selector.active {
    font-weight: bold;
    color: #ff6699;
}
.thumbnail {
    cursor: pointer;
}

@media screen and (min-width:0px) {
    /** BASE ELEMENTS */
    .body-content {
        width: 800px;
    }
    .content-block table {
        width: 100%;
        display: inline-block;
        padding: 40px 50px 0px 50px;
    }
    .content-block table td {
        padding: 15px;
        vertical-align: top;
    }
    .content-block.intro {
        background-image: url("/img/layout/960/intro-background.jpg");
        height: 459px;
        margin-top: 35px;
    }
    .content-block.portfolio {
        background-image: url("/img/layout/960/portfolio-background.jpg");
        background-repeat: no-repeat;
        background-position: 0px 60px;
        margin-top: 90px;
        padding: 60px 15px 15px 15px;
        height: 875px;
    }
    .content-block.about {
        background-image: url("/img/layout/960/about-background.jpg");
        background-repeat: no-repeat;
        height: 548px;
        margin-top: 100px;
    }
    .content-block.info {
        background-image: url("/img/layout/960/info-background.jpg");
        background-repeat: no-repeat;
        height: 800px;
        margin-top: 115px;
    }
    #random-posts {
        width: 460px;
    }
    .random-post {
        height: auto;
        display: none;
    }
    .random-post img {
        max-width: 500px;
        height auto;
    }
    #overlay .contents {
        width: 1000px;
        left: 50%;
        display: inline-block;
    }
    #overlay .contents img {
        max-height: 800px;
        width: auto;
    }
    #portfolio-gallery .thumbnail.landscape {
        width: 160px;
        height: auto;
    }
    #portfolio-gallery .thumbnail.portrait {
        width: auto;
        height: 160px;
    }
    #portfolio-gallery .portfolio-gallery-sections {
        height: 800px;
        overflow: auto;
    }
    /** VISUAL ELEMENTS */
    #intro-shoes {
        position:absolute;
        top: 0;
        right: -118px;
        background-image: url("/img/layout/960/intro-shoes.png");
        width: 362px;
        height: 560px;
        background-repeat: no-repeat;
    }
        /** VISUAL ELEMENTS */
    #intro-signature {
        position:absolute;
        top: 0;
        left: -30px;
        background-image: url("/img/layout/960/intro-signature.png");
        width: 845px;
        height: 360px;
        background-repeat: no-repeat;
    }
    #intro-tagline {
        position:absolute;
        top: 271px;
        right: 0px;
        background-image: url("/img/layout/960/intro-tagline.png");
        width: 344px;
        height: 265px;
        background-repeat: no-repeat;
    }
    #intro-great-button {
        position:absolute;
        top: 417px;
        left: 344px;
    }
    #portfolio-title {
        background-image: url("/img/layout/960/portfolio-title.png");
        background-repeat: no-repeat;
        position:absolute;
        top: 554px;
        left: -25px;
        width: 303px;
        height: 91px;
    }
    #about-title {
        background-image: url("/img/layout/960/about-title.png");
        background-repeat: no-repeat;
        position:absolute;
        top: 1505px;
        left: -25px;
        width: 438px;
        height: 113px;
    }
    #info-title {
        background-image: url("/img/layout/960/info-title.png");
        background-repeat: no-repeat;
        position:absolute;
        top: 2164px;
        left: -25px;
        width: 397px;
        height: 148px;
    }
}

@media screen and (min-width:1200px) {
    /** BASE ELEMENTS */
    .body-content {
        width: 1024px;
    }
    .content-block table {
        width: 100%;
        display: inline-block;
        padding: 60px 50px 0px 50px;
    }
    .content-block table td {
        padding: 35px;
        vertical-align: top;
    }
    .content-block.intro {
        background-image: url("/img/layout/1200/intro-background.jpg");
        height: 585px;
        margin-top: 35px;
    }
    .content-block.portfolio {
        background-image: url("/img/layout/1200/portfolio-background.jpg");
        background-repeat: no-repeat;
        background-position: 0px 60px;
        margin-top: 90px;
        padding: 60px 15px 15px 15px;
        height: 875px;
    }
    .content-block.about {
        background-image: url("/img/layout/1200/about-background.jpg");
        background-repeat: no-repeat;
        height: 608px;
        margin-top: 100px;
    }
    .content-block.info {
        background-image: url("/img/layout/1200/info-background.jpg");
        background-repeat: no-repeat;
        height: 800px;
        margin-top: 115px;
    }
    #random-posts {
        width: 556px;
    }
    .random-post {
        height: auto;
        display: none;
    }
    .random-post img {
        max-width: 500px;
        height auto;
    }
    #overlay .contents {
        width: 1000px;
        left: 50%;
        display: inline-block;
    }
    #overlay .contents img {
        max-height: 800px;
        width: auto;
    }
    #portfolio-gallery .thumbnail.landscape {
        width: 200px;
        height: auto;
    }
    #portfolio-gallery .thumbnail.portrait {
        width: auto;
        height: 200px;
    }
    #portfolio-gallery .portfolio-gallery-sections {
        height: 800px;
        overflow: auto;
    }
    /** VISUAL ELEMENTS */
    #intro-shoes {
        position:absolute;
        top: 0;
        right: -50px;
        background-image: url("/img/layout/1200/intro-shoes.png");
        width: 362px;
        height: 560px;
        background-repeat: no-repeat;
    }
        /** VISUAL ELEMENTS */
    #intro-signature {
        position:absolute;
        top: 0;
        left: -30px;
        background-image: url("/img/layout/1200/intro-signature.png");
        width: 845px;
        height: 360px;
        background-repeat: no-repeat;
    }
    #intro-tagline {
        position:absolute;
        top: 328px;
        right: 87px;
        background-image: url("/img/layout/1200/intro-tagline.png");
        width: 344px;
        height: 265px;
        background-repeat: no-repeat;
    }
    #intro-great-button {
        position:absolute;
        top: 535px;
        left: 495px;
    }
    #portfolio-title {
        background-image: url("/img/layout/1200/portfolio-title.png");
        background-repeat: no-repeat;
        position:absolute;
        top: 675px;
        left: -25px;
        width: 303px;
        height: 91px;
    }
    #about-title {
        background-image: url("/img/layout/1200/about-title.png");
        background-repeat: no-repeat;
        position:absolute;
        top: 1625px;
        left: -25px;
        width: 438px;
        height: 113px;
    }
    #info-title {
        background-image: url("/img/layout/1200/info-title.png");
        background-repeat: no-repeat;
        position:absolute;
        top: 2335px;
        left: -25px;
        width: 397px;
        height: 148px;
    }
}

@media screen and (min-width:1600px) {

    /** BASE ELEMENTS */
    .body-content {
        width: 1200px;
    }
    .content-block table {
        width: 100%;
        display: inline-block;
        padding: 100px 50px 0px 50px;
    }
    .content-block table td {
        padding: 35px;
        vertical-align: top;
    }
    .content-block.intro {
        background-image: url("/img/layout/1600/intro-background.jpg");
        height: 600px;
        margin-top: 35px;
    }
    .content-block.portfolio {
        background-image: url("/img/layout/1600/portfolio-background.jpg");
        background-repeat: no-repeat;
        background-position: 0px 60px;
        margin-top: 90px;
        padding: 60px 15px 15px 15px;
        height: 875px;
    }
    .content-block.about {
        background-image: url("/img/layout/1600/about-background.jpg");
        height: 700px;
        margin-top: 100px;
    }
    .content-block.info {
        background-image: url("/img/layout/1600/info-background.jpg");
        height: 800px;
        margin-top: 115px;
    }
    #random-posts {
        width: 640px;
    }
    .random-post {
        height: auto;
        display: none;
    }
    .random-post img {
        max-width: 500px;
        height auto;
    }
    #overlay .contents {
        width: 1000px;
        left: 50%;
        display: inline-block;
    }
    #overlay .contents img {
        max-height: 800px;
        width: auto;
    }
    #portfolio-gallery .thumbnail.landscape {
        width: 200px;
        height: auto;
    }
    #portfolio-gallery .thumbnail.portrait {
        width: auto;
        height: 200px;
    }
    #portfolio-gallery .portfolio-gallery-sections {
        height: 800px;
        overflow: auto;
    }
    /** VISUAL ELEMENTS */
    #intro-shoes {
        position:absolute;
        top: 0;
        right: 10px;
        background-image: url("/img/layout/1600/intro-shoes.png");
        width: 362px;
        height: 560px;
        background-repeat: no-repeat;
    }
        /** VISUAL ELEMENTS */
    #intro-signature {
        position:absolute;
        top: 0;
        left: -30px;
        background-image: url("/img/layout/1600/intro-signature.png");
        width: 845px;
        height: 360px;
        background-repeat: no-repeat;
        transform: scale(0.85,0.85);
    }
    #intro-tagline {
        position:absolute;
        top: 328px;
        right: 134px;
        background-image: url("/img/layout/1600/intro-tagline.png");
        width: 344px;
        height: 265px;
        background-repeat: no-repeat;
    }
    #intro-great-button {
        position:absolute;
        top: 555px;
        left: 555px;
    }
    #portfolio-title {
        background-image: url("/img/layout/1600/portfolio-title.png");
        background-repeat: no-repeat;
        position:absolute;
        top: 675px;
        left: -25px;
        width: 303px;
        height: 91px;
    }
    #about-title {
        background-image: url("/img/layout/1600/about-title.png");
        background-repeat: no-repeat;
        position:absolute;
        top: 1625px;
        left: -25px;
        width: 438px;
        height: 113px;
    }
    #info-title {
        background-image: url("/img/layout/1600/info-title.png");
        background-repeat: no-repeat;
        position:absolute;
        top: 2425px;
        left: -25px;
        width: 397px;
        height: 148px;
    }
}

/**
 * Media Sizes
 *
 * 1600
 * 1200
 * 960
 * 750
