body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-color: #111;
    color: #555;
}
h1,h2,h3,h5,h5,h6 {
    font-weight: bold;
    margin: 10px 0px 10px 0px;
}
.content-block {
    width: 95%;
    min-height: 450px;
    background-color: #333;
    display: inline-block;
    text-align: left;
    padding: 15px;
    margin: 10px 0px 10px 0px;
}