<div class="ui inverted vertical center aligned segment">
    <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
            <a class="active item">Dashboard</a>
            <a class="item">Projects</a>
            <div class="right item">
                <a class="ui inverted button">Logout</a>
            </div>
        </div>
    </div>
</div>
