<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Explosioncorp // Ingest{% block title %}{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Hind+Vadodara" rel="stylesheet">
        <link href="/css/semantic.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/app-beta.css">
        {% block head %}{% endblock %}
    </head>
<body>

    <div class="mount-point">
        {% block content %}{% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/semantic.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    {% block includes %}{% endblock %}
</body>
</html>
