
.body {
    font-family: 'Hind Vadodara', sans-serif;
}

code {
    font-family: 'PT Mono', monospace !important;
    color: red;
    background-color: #eee;
    padding: 2px;
}

.fountain {
    color: #000 !important;
    font-family: 'IM Fell English', serif;
    h1,h2,h3,h4,h5,h6 {
        font-family: 'IM Fell English', serif;
        margin: 0;
        color: #000 !important;
        margin: .5em 0 .5em 0 !important;
    }
    h1 {
        font-size: 2.5rem !important;
    }
    margin: 2em 3em 2em 3em;

    .dialogue-container {
        text-align: center;
        margin: 1em 10% 1em 10%;
    }

    .dialogue-container.dual {
        .character::after {
            content: " (together)";
        }
    }
    .centered {
        text-align: center;
    }
    .action {
        display: block;
        margin: 1em 0 1em 0;
    }
    .bold {
        font-weight: bold;
    }
    hr {
        margin: 1.6em 0 1.6em 0 !important;
    }
    .italic {
        font-style: italic;
    }
    .lyrics{
        font-style: italic;
        color: grey;
        display: block;
    }
    .dialogue, .parenthetical {
        display: block;
    }
    .note {
        padding: 5px;
        background-color: #e8f8ff;
    }
    .underline {
        text-decoration: underline;
    }
    .character, .parenthetical {
        text-align: center;
        margin: .5em 0em .5em 0em;
    }
    .scene_heading {
        margin: .5em 0em .5em 0em;
    }
    .title_page {
        padding: 0 0 2em 0;
        text-align: center;
        .date, .draft-date, .notes, .contact, .copyright, .source {
            display: block;
        }
        .date, .draft-date, .contact {
            text-align: left;
        }
        .notes {
            font-style: italic;
        }
    }
    .transition {
        text-align: left;
        margin: 1em 0 .5em 0;
    }
}

.fountain-container {
    // background-color: #fffdf8 !important;
    // font-size: 0.8em !important;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Nobile', sans-serif;
}

.hidden.menu {
    display: none;
}

.masthead.segment {
    min-height: 700px;
    padding: 1em 0em;
    background-image: url('/img/purple-space-landscape.jpg') !important;
}
.masthead img.logo {
    margin-top: 5.5em;
}
.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}
.masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}
.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}

.quote.stripe.segment {
    padding: 0em;
}
.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}

.footer.segment {
    padding: 5em 0em;
}

.main-content {
    margin-top: 0 !important;
}

.secondary.pointing.menu .toc.item {
    display: none;
}

.script-input {
    padding: 2em !important;
    font-family: 'PT Mono', monospace !important;
    font-size: .8em !important;

    background-color: black !important;
    color: rgba(85, 255, 231, 0.97) !important;
    text-shadow: 2px 2px 10px rgba(85, 255, 231, 1) !important;
    white-space: pre-wrap !important;
}
div.script-input {
    white-space: pre;
    white-space: pre-wrap !important;
}

.ui.spaced.image {
    margin: 0 .5em .5em .5em;
}

.ui.vertical.stripe {
    padding: 3em;
}

.ui.vertical.stripe .floated.image {
    clear: both;
}

.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}

@media only screen and (max-width: 700px) {
    .ui.fixed.menu {
        display: none !important;
    }
    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
        display: none;
    }
    .secondary.pointing.menu .toc.item {
        display: block;
    }
    .masthead.segment {
        min-height: 350px;
    }
    .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
    }
    .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
    }
}
