@import (less) '../../../node_modules/react-datepicker/dist/react-datepicker.css';

@base: #F0F0F0;

@info: #117EB3;
@primary: #117EB3;
@secondary: #A3038C;
@muted: #818a91;

.app {
    padding: 15px;
}

body {
  font-family: 'Hind Vadodara', sans-serif;
  background-color: @base;
}

.columns {
    flex-wrap: wrap;
}
.input-text,
.input-date,
.input-description,
.input-card,
.input-select {
    margin: 15px 0px 15px 0px;
    width: 100% !important;
}

.notes {
    font-family: 'Architects Daughter', cursive;
}
