@import (less) '../../../node_modules/react-datepicker/dist/react-datepicker.css';
@import (less) '../../../node_modules/react-custom-scroll/src/main/customScroll.css';

@base: #F0F0F0;

@info: #117EB3;
@primary: #117EB3;
@secondary: #A3038C;
@muted: #818a91;

.app {
    padding: 0px;
}

.app-header {
    margin-bottom: 0px;
}

body {
  font-family: 'Hind Vadodara', sans-serif;
}

.card.checked {
    border-top: 4px #23d160 solid;
}
.card {
    .tag {
        margin: 0 1px 1px 0;
    }
}

.canvas {
    overflow: hidden;
    position: absolute;
}

.canvas {
    background-color: #DBDBDB;
}
#cabo.canvas, #index.canvas {
    background-color: #DBDBDB;
}

.columns {
    flex-wrap: wrap;
}

.control.is-grouped {
    display: flex;
    justify-content: flex-end;
}
.control.is-grouped-left {
    display: flex;
    justify-content: flex-start;
}

.content-article-bulk-controls {
    margin-bottom: 15px;
}

.element {
    position: absolute;
    display: block;
    user-select: none;
}
html {
    overflow: visible;
}
.input-text,
.input-date,
.input-description,
.input-card,
.input-select {
    margin: 15px 0px 15px 0px;
    width: 100% !important;
}
.input-checkbox > div > div {
    width: 0 !important;
    height: auto;
}
.input-tags {
    .tag {
        margin-bottom: 5px;
        margin-right: 5px;
    }
    ul {
        box-shadow: .05em .01em .5em rgba(0,0,0,.2);
        background: white;
        width: 200px;
        margin: 0;
    }
    li {
        list-style: none;
        border-bottom: 1px solid #ddd;
        padding: 5px 10px;
        margin: 0;
    }
    li mark {
        text-decoration: underline;
        background: none;
        font-weight: 600;
    }
    li.active {
        background: #b7cfe0;
        cursor: pointer;
    }

}

.notes {
    max-height: 285px;
    font-size: 0.85rem;
}
.pannable, .pannable-handle {
    position: absolute;
}
.pannable-handle {
    cursor: all-scroll;
}
