{% extends 'layout-experiments.html.twig' %}
{% block head %}
<script type="text/javascript">
    var config = {{experimentConfigs|json_encode|raw}};
</script>
<script type="text/javascript" src="/build/js/experiments/fountain001.js"></script>
{% endblock %}
{% block body %}
    {{ parent() }}
    <div id="preview"></div>
{% endblock %}

