{% extends 'layout-mockup-logged-in.html.twig' %}
{% block title %}{% endblock %}
{% block head %}
    {{parent()}}
{% endblock %}
{% block content %}
    {{ parent() }}

{% include 'mockup/partials/header-menu.html.twig' with {'foo': 'bar'} %}

<div class="ui vertical stripe segment">
    <div class="ui grid container">
        <div class="eight wide column left aligned">
            <h1 class="ui header">Beepo Beeparelli</h1>
        </div>
        <div class="eight wide column right aligned">
            <div class="ui dropdown">
                <div class="text">Menu</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item">Edit</div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui container">
        <img class="ui centered large circular image" src="https://c1.staticflickr.com/3/2533/3996839316_699ee275b7_b.jpg">
    </div>
    <br />
    <div class="ui grid text container">
        <div class="sixteen wide column center aligned">
            <h2 class="ui header">Plumber, Pipelandia</h2>
            <div class="ui label">
              Age
              <div class="detail inverted">37</div>
            </div>
            <div class="ui label">
              Gender
              <div class="detail">Male</div>
            </div>
        </div>
        <div class="sixteen wide column center aligned">
            <a class="ui teal tag label small">Addictive Personality</a>
            <a class="ui teal tag label small">Yearns for stage</a>
            <a class="ui teal tag label small">Loves opera</a>
        </div>
    </div>
    <br />
    <div class="ui container vertical stripe">
        <div class="ui text container">
            <div class="ui segment">
                <p>Beepo is a robot built by Japanese robotics engineers with whatever information they had about Italian stereotypes. Upon his activation they uploaded the occupation "plumber" into his main fucking memory.</p></p>
            </div>
        </div>
    </div>
    <div class="ui container">
        <h2 class="ui grey header">Images</h2>
    </div>
    <div class="ui four column container vertical stripe grid">
        <div class="column center aligned">
            <div class="ui segment">
                <img class="ui centered small circular image" src="https://c1.staticflickr.com/3/2533/3996839316_699ee275b7_b.jpg">
                <h4 class="ui header">Avatar</h4>
            </div>
        </div>
        <div class="column center aligned">
            <div class="ui segment">
                <img class="ui centered small rounded image" src="https://c2.staticflickr.com/4/3213/2793182719_8a9a3296b7_z.jpg?zz=1">
                <h4 class="ui header">Side view</h4>
            </div>
        </div>
        <div class="column center aligned">
            <div class="ui segment">
                <img class="ui centered small rounded image" src="https://c1.staticflickr.com/3/2786/4326820558_3db6e6beee_z.jpg">
                <h4 class="ui header">Front view</h4>
            </div>
        </div>
        <div class="column center aligned">
            <div class="ui segment">
                <img class="ui centered small rounded image" src="https://c2.staticflickr.com/4/3138/2793183105_d6200867a4_z.jpg?zz=1">
                <h4 class="ui header">Doing star</h4>
            </div>
        </div>
        <div class="column center aligned">
            <div class="ui segment">
                <img class="ui centered small rounded image" src="https://c2.staticflickr.com/4/3226/2762353811_d4ac25ab1c_z.jpg">
                <h4 class="ui header">Puking</h4>
            </div>
        </div>
    </div>
    <div class="ui container">
        <h2 class="ui grey header">Roles</h2>
    </div>
    <div class="ui vertical stripe container">
        <div class="ui relaxed divided list">
            <div class="item">
                <i class="large github middle aligned icon"></i>
                <div class="content">
                    <a class="header">Semantic-Org/Semantic-UI</a>
                    <div class="description">Updated 10 mins ago</div>
                </div>
            </div>
            <div class="item">
                <i class="large github middle aligned icon"></i>
                <div class="content">
                    <a class="header">Semantic-Org/Semantic-UI-Docs</a>
                    <div class="description">Updated 22 mins ago</div>
                </div>
            </div>
            <div class="item">
                <i class="large github middle aligned icon"></i>
                <div class="content">
                    <a class="header">Semantic-Org/Semantic-UI-Meteor</a>
                    <div class="description">Updated 34 mins ago</div>
                </div>
            </div>
            </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $('.ui.dropdown').dropdown();
    });
</script>
{% include 'mockup/partials/footer-menu.html.twig' with {'foo': 'bar'} %}

{% endblock %}


{% block includes %}
{% endblock %}
