{% extends 'layout-mockup.html.twig' %}
{% block title %}{% endblock %}
{% block head %}
    {{parent()}}
{% endblock %}
{% block content %}
    {{ parent() }}

    <div class="ui inverted vertical masthead center aligned segment">
        <div class="ui container">
            <div class="ui large secondary inverted pointing menu">
                <a class="active item">Home</a>
                <a class="item">Work</a>
                <a class="item">Company</a>
                <a class="item">Careers</a>
                <div class="right item">
                    <a class="ui inverted button">Log in</a>
                    <a class="ui inverted button">Sign Up</a>
                </div>
            </div>
        </div>

        <div class="ui text container">
            <h1 class="ui inverted header">
                StoryStation
            </h1>
            <h2>The last story development tool you will need.</h2>
            <div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>
        </div>
  </div>

  <div class="ui vertical stripe segment">
    <div class="ui container">
        <div class="ui huge header">Features</div>
    </div>
    <div class="ui two column stackable grid container">
        <div class="column">
            <div class="ui segment grid">
                <div class="six wide column">
                    <div class="ui image">
                        <img src="http://placehold.it/250x300">
                    </div>
                </div>
                <div class="ten wide column">
                    <div class="ui content">
                        <div class="ui header">Revision Manager</div>
                        <p>Quickly jot down your ideas, sketches, and script snippets as they come to you. Iterate on revisions of characters, locations, concept art.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui segment grid">
                <div class="six wide column">
                    <div class="ui image">
                        <img src="http://placehold.it/250x300">
                    </div>
                </div>
                <div class="ten wide column">
                    <div class="ui content">
                        <div class="ui header">Cross-device Sync</div>
                        <p>Like Evernote, sync your projects across devices so you continuously develop your project whether you are on your computer, phone or tablet.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui segment grid">
                <div class="six wide column">
                    <div class="ui image">
                        <img src="http://placehold.it/250x300">
                    </div>
                </div>
                <div class="ten wide column">
                    <div class="ui content">
                        <div class="ui header">Pitch Builder</div>
                        <p>Using the character, concept art, and scripts you are working on, you can assemble and export a show pitch to start shopping your project around.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui segment grid">
                <div class="six wide column">
                    <div class="ui image">
                        <img src="http://placehold.it/250x300">
                    </div>
                </div>
                <div class="ten wide column">
                    <div class="ui content">
                        <div class="ui header">Storyboarding Tool</div>
                        <p>Quickly upload your sketches to the storyboard builder, then attach script snippets to each panel.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui segment grid">
                <div class="six wide column">
                    <div class="ui image">
                        <img src="http://placehold.it/250x300">
                    </div>
                </div>
                <div class="ten wide column">
                    <div class="ui content">
                        <div class="ui header">.fountain Formatted Scriptwriting</div>
                        <p>The <a href="https://fountain.io/" target="_blank">.fountain</a> script format is a standard text-based shorthand for writing scripts. StoryStation is built to make full use of the programmatic parsing of scripts.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
                <h4 class="ui inverted header">About</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Sitemap</a>
                    <a href="#" class="item">Contact Us</a>
                    <a href="#" class="item">Religious Ceremonies</a>
                    <a href="#" class="item">Gazebo Plans</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">Services</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Banana Pre-Order</a>
                    <a href="#" class="item">DNA FAQ</a>
                    <a href="#" class="item">How To Access</a>
                    <a href="#" class="item">Favorite X-Men</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">Footer Header</h4>
                <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block includes %}
{% endblock %}
