{% extends 'layout-mockup-logged-in.html.twig' %}
{% block title %}{% endblock %}
{% block head %}
    {{parent()}}
{% endblock %}
{% block content %}
    {{ parent() }}

<div class="ui inverted vertical center aligned segment">
    <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
            <a class="active item">Dashboard</a>
            <a class="item">Projects</a>
            <div class="right item">
                <a class="ui inverted button">Logout</a>
            </div>
        </div>
    </div>
</div>

<div class="ui vertical stripe segment">
    <div class="ui container">
        <h2>Create</h2>
        <div class="ui three column grid">
            <div class="column">
                <div class="ui center aligned container">
                    <a class="ui circular icon button"><i class="huge circular inverted teal book icon"></i></a>
                    <div>Script</div>
                    <div>Tooltip with info about .fountain</div>
                </div>
            </div>
            <div class="column">
                <div class="ui center aligned container">
                    <a class="ui circular icon button"><i class="huge circular inverted teal male icon"></i></a>
                    <div>Character</div>
                </div>
            </div>
            <div class="column">
                <div class="ui center aligned container">
                    <a class="ui circular icon button"><i class="huge circular inverted teal sitemap icon"></i></a>
                    <div>Project</div>
                </div>
            </div>
                <div class="column">
                    <div class="ui center aligned container">
                        <a class="ui circular icon button"><i class="huge circular inverted teal file icon"></i></a>
                        <div>Note</div>
                    </div>
                </div>
        </div>

        <h2>Activity</h2>
        <div class="ui relaxed divided list">
            <div class="item">
                <i class="large male middle aligned icon"></i>
                <div class="content">
                    <div class="header">Character: <a>Beepo</a></div>
                    <div class="description">Updated 5 mins ago</div>
                </div>
            </div>
            <div class="item">
                <i class="large male middle aligned icon"></i>
                <div class="content">
                    <div class="header">Character: <a>Beepo</a></div>
                    <div class="description">Created 10 mins ago</div>
                </div>
            </div>
            <div class="item">
                <i class="large sitemap middle aligned icon"></i>
                <div class="content">
                    <div class="header">Project: <a>NxMW</a></div>
                    <div class="description">Updated 5 mins ago</div>
                </div>
            </div>
            <div class="item">
                <i class="large sitemap middle aligned icon"></i>
                <div class="content">
                    <div class="header">Project: <a>NxMW</a></div>
                    <div class="description">Created 10 mins ago</div>
                </div>
            </div>
                <div class="item">
                    <i class="large male middle aligned icon"></i>
                    <div class="content">
                        <div class="header">Character: <a>Beepo</a></div>
                        <div class="description">Updated 5 mins ago</div>
                    </div>
                </div>
                <div class="item">
                    <i class="large male middle aligned icon"></i>
                    <div class="content">
                        <div class="header">Character: <a>Beepo</a></div>
                        <div class="description">Created 10 mins ago</div>
                    </div>
                </div>
                <div class="item">
                    <i class="large sitemap middle aligned icon"></i>
                    <div class="content">
                        <div class="header">Project: <a>NxMW</a></div>
                        <div class="description">Updated 5 mins ago</div>
                    </div>
                </div>
                <div class="item">
                    <i class="large sitemap middle aligned icon"></i>
                    <div class="content">
                        <div class="header">Project: <a>NxMW</a></div>
                        <div class="description">Created 10 mins ago</div>
                    </div>
                </div>
        </div>

    </div>
</div>

<div class="ui inverted vertical footer segment">
    Footer
</div>

{% endblock %}


{% block includes %}
{% endblock %}
