{% extends 'layout-mockup-logged-in.html.twig' %}
{% block title %}{% endblock %}
{% block head %}
    {{parent()}}
{% endblock %}
{% block content %}
    {{ parent() }}

{% include 'mockup/partials/header-menu.html.twig' with {'foo': 'bar'} %}

<div class="ui vertical stripe segment">
    <div class="ui grid container">
        <div class="eight wide column left aligned">
            <h1 class="ui header">The World of Beepo Beeparelli</h1>
        </div>
        <div class="eight wide column right aligned">
            <div class="ui dropdown">
                <div class="text">Menu</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item">Edit</div>
                    <div class="item">Generate Pitch</div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui container">
        <img class="ui centered large circular image" src="https://c1.staticflickr.com/3/2439/3663515635_1c89de110c_b.jpg">
    </div>
    <div class="ui text vertical stripe container">
        <div class="ui segment">
            <p>A short film about the adventures and hopes and dreams of Beepo Beeparelli.</p>
        </div>
    </div>
    <div class="ui container">
        <h3 class="ui grey header">Story</h3>
    </div>
    <div class="ui three column container vertical stripe grid">
        <div class="column center aligned">
            <div class="ui card">
                <div class="image">
                    <img src="https://c1.staticflickr.com/3/2439/3663515635_1c89de110c_b.jpg">
                </div>
                <div class="content">
                    <a class="header">Act 1</a>
                    <div class="meta">
                        <span class="date">0:35:00:00</span>
                    </div>
                    <div class="description">
                        Beepo's job sucks, need a way to let loose.
                    </div>
                </div>
                <div class="extra content">
                    <a>
                        <i class="user icon"></i>
                        22 panels
                    </a>
                </div>
            </div>
        </div>
        <div class="column center aligned">
            <div class="ui card">
                <div class="image">
                    <img src="https://c1.staticflickr.com/3/2439/3663515635_1c89de110c_b.jpg">
                </div>
                <div class="content">
                    <a class="header">Act 2</a>
                    <div class="meta">
                        <span class="date">0:35:00:00</span>
                    </div>
                    <div class="description">
                        Beepo's job sucks, need a way to let loose.
                    </div>
                </div>
                <div class="extra content">
                    <a>
                        <i class="user icon"></i>
                        22 panels
                    </a>
                </div>
            </div>
        </div>
        <div class="column center aligned">
            <div class="ui card">
                <div class="image">
                    <img src="https://c1.staticflickr.com/3/2439/3663515635_1c89de110c_b.jpg">
                </div>
                <div class="content">
                    <a class="header">Act 3</a>
                    <div class="meta">
                        <span class="date">0:35:00:00</span>
                    </div>
                    <div class="description">
                        Beepo's job sucks, need a way to let loose.
                    </div>
                </div>
                <div class="extra content">
                    <a>
                        <i class="user icon"></i>
                        22 panels
                    </a>
                </div>
            </div>
        </div>
        <div class="column center aligned">
            <div class="ui card">
                <div class="image">
                    <img src="https://c1.staticflickr.com/3/2439/3663515635_1c89de110c_b.jpg">
                </div>
                <div class="content">
                    <a class="header">Act 4</a>
                    <div class="meta">
                        <span class="date">0:35:00:00</span>
                    </div>
                    <div class="description">
                        Beepo's job sucks, need a way to let loose.
                    </div>
                </div>
                <div class="extra content">
                    <a>
                        <i class="user icon"></i>
                        22 panels
                    </a>
                </div>
            </div>
        </div>
        <div class="column center aligned">
            <div class="ui card">
                <div class="image">
                    <img src="https://c1.staticflickr.com/3/2439/3663515635_1c89de110c_b.jpg">
                </div>
                <div class="content">
                    <a class="header">Act 5</a>
                    <div class="meta">
                        <span class="date">0:35:00:00</span>
                    </div>
                    <div class="description">
                        Beepo's job sucks, need a way to let loose.
                    </div>
                </div>
                <div class="extra content">
                    <a>
                        <i class="user icon"></i>
                        22 panels
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="ui container">
        <h3 class="ui grey header">Character</h3>
    </div>
    <div class="ui four column container vertical stripe grid">
        <div class="ui center aligned column">
            <div class="ui segment">
                <img class="ui centered circular image" src="https://c1.staticflickr.com/3/2533/3996839316_699ee275b7_b.jpg">
                <h5 class="ui header">Beepo Beeparelli</h5>
            </div>
        </div>
        <div class="ui center aligned column">
            <div class="ui segment">
                <img class="ui centered circular image" src="https://c2.staticflickr.com/4/3095/2763101849_f9f084533a_z.jpg">
                <h5 class="ui header">The Princess</h5>
            </div>
        </div>
        <div class="ui center aligned column">
            <div class="ui segment">
                <img class="ui centered circular image" src="https://i2.wp.com/cdn2.iconfinder.com/static/2ae174f07522a6b8c7c997bf4b62a821/assets/img/default-avatar-user.png?ssl=1">
                <h5 class="ui header">DB3700</h5>
            </div>
        </div>
        <div class="ui center aligned column">
            <div class="ui segment">
                <img class="ui centered circular image" src="https://c2.staticflickr.com/4/3080/2765795841_32f66a3bbb_o.jpg">
                <h5 class="ui header">Cloud Mob Guy</h5>
            </div>
        </div>
        <div class="ui center aligned column">
            <div class="ui segment">
                <img class="ui centered circular image" src="https://i2.wp.com/cdn2.iconfinder.com/static/2ae174f07522a6b8c7c997bf4b62a821/assets/img/default-avatar-user.png?ssl=1">
                <h5 class="ui header">Elizabeth</h5>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('.ui.dropdown').dropdown();
    });
</script>

{% include 'mockup/partials/footer-menu.html.twig' with {'foo': 'bar'} %}

{% endblock %}


{% block includes %}
{% endblock %}
