{% extends 'layout-mockup-logged-in.html.twig' %}
{% block title %} / Project Detail{% endblock %}
{% block head %}
    {{parent()}}
{% endblock %}
{% block content %}
    {{ parent() }}

{% include 'mockup/partials/header-menu.html.twig' with {'foo': 'bar'} %}

<div class="ui vertical stripe segment">
    <div class="ui grid container">
        <div class="eight wide column left aligned">
            <h1 class="ui header">The World of Beepo Beeparelli</h1>
            <div class="ui container">
                <a class="ui teal tag label small">Comedy</a>
                <a class="ui teal tag label small">Animation</a>
                <a class="ui teal tag label small">Quirky</a>
            </div>
        </div>
        <div class="eight wide column right aligned">
            <div class="ui dropdown">
                <div class="text">Menu</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item">Edit</div>
                    <div class="item">Generate Pitch</div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui container">
        <img class="ui centered large circular image" src="https://c1.staticflickr.com/3/2439/3663515635_1c89de110c_b.jpg">
    </div>
    <div class="ui container">
        <h2 class="ui grey header">Synopsis</h2>
    </div>
    <div class="ui text vertical stripe container">
        <div class="ui segments">
            <div class="ui segment">
                <p>Beepo is a robot built by Japanese robotics engineers with whatever information they had about Italian stereotypes. Upon his activation they uploaded the occupation "plumber" into his main fucking memory.</p>

                <p>In this world there are no humans around but somehow he always has a pipe to clean out or something to unclog. It's a very septic life. He tends to drink and do a lot of drugs, even on the job.</p>

                <p>But he also has a stereotypically Italian lust for life, and he sings Opera to all the beautiful women ... robots. Women robots.</p>

            </div>
            <div class="ui segment right aligned">
                <i class="wait icon"></i>
                01:23:00
            </div>
        </div>

    </div>
    <div class="ui container">
        <h2 class="ui grey header">Acts / Episodes</h2>
    </div>
    <div class="ui three column container vertical stripe grid">
        <div class="column">
            <div class="ui card">
                <div class="image">
                    <img src="https://c1.staticflickr.com/3/2439/3663515635_1c89de110c_b.jpg">
                </div>
                <div class="ui content center aligned">
                    <h3 class="ui header">Act 1</h3>
                    <div class="description left aligned">
                        Beepo's job sucks, he needs a way to let loose.
                    </div>
                </div>
                <div class="extra content">
                    <span class="right floated">
                        <i class="wait icon"></i>
                        00:21:00
                    </span>
                    <span>
                        <i class="grid layout icon"></i>
                        22 Panels
                    </span>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui card">
                <div class="image">
                    <img src="https://c1.staticflickr.com/3/2439/3663515635_1c89de110c_b.jpg">
                </div>
                <div class="ui content center aligned">
                    <h3 class="ui header">Act 2</h3>
                    <div class="description left aligned">
                        Beepo's job sucks, he needs a way to let loose.
                    </div>
                </div>
                <div class="extra content">
                    <span class="right floated">
                        <i class="wait icon"></i>
                        00:21:00
                    </span>
                    <span>
                        <i class="grid layout icon"></i>
                        22 Panels
                    </span>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui card">
                <div class="image">
                    <img src="https://c1.staticflickr.com/3/2439/3663515635_1c89de110c_b.jpg">
                </div>
                <div class="ui content center aligned">
                    <h3 class="ui header">Act 3</h3>
                    <div class="description left aligned">
                        Beepo's job sucks, he needs a way to let loose.
                    </div>
                </div>
                <div class="extra content">
                    <span class="right floated">
                        <i class="wait icon"></i>
                        00:21:00
                    </span>
                    <span>
                        <i class="grid layout icon"></i>
                        22 Panels
                    </span>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui card">
                <div class="image">
                    <img src="https://c1.staticflickr.com/3/2439/3663515635_1c89de110c_b.jpg">
                </div>
                <div class="ui content center aligned">
                    <h3 class="ui header">Act 4</h3>
                    <div class="description left aligned">
                        Beepo's job sucks, he needs a way to let loose.
                    </div>
                </div>
                <div class="extra content">
                    <span class="right floated">
                        <i class="wait icon"></i>
                        00:21:00
                    </span>
                    <span>
                        <i class="grid layout icon"></i>
                        22 Panels
                    </span>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui card">
                <div class="image">
                    <img src="https://c1.staticflickr.com/3/2439/3663515635_1c89de110c_b.jpg">
                </div>
                <div class="ui content center aligned">
                    <h3 class="ui header">Act 5</h3>
                    <div class="description left aligned">
                        Beepo's job sucks, he needs a way to let loose.
                    </div>
                </div>
                <div class="extra content">
                    <span class="right floated">
                        <i class="wait icon"></i>
                        00:21:00
                    </span>
                    <span>
                        <i class="grid layout icon"></i>
                        22 Panels
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="ui container">
        <h2 class="ui grey header">Characters</h2>
    </div>
    <div class="ui four column container vertical stripe grid">
        <div class="ui column">
            <div class="ui card">
                <div class="content">
                    <div class="ui container">
                        <img class="ui circular image" src="https://c1.staticflickr.com/3/2533/3996839316_699ee275b7_b.jpg">
                    </div>
                    <h3 class="ui header center aligned">Beepo Beeparelli</h3>
                    <div class="meta center aligned">
                        37, Male, Robot Plumber
                    </div>
                </div>
            </div>
        </div>
        <div class="ui column">
            <div class="ui card">
                <div class="content">
                    <div class="ui container">
                        <img class="ui circular image" src="https://c2.staticflickr.com/4/3095/2763101849_f9f084533a_z.jpg">
                    </div>
                    <h3 class="ui header center aligned">The Princess</h3>
                    <div class="meta center aligned">
                        27, Female, Robot Princess
                    </div>
                </div>
            </div>
        </div>
        <div class="ui column">
            <div class="ui card">
                <div class="content">
                    <div class="ui container">
                        <img class="ui circular image" src="https://i2.wp.com/cdn2.iconfinder.com/static/2ae174f07522a6b8c7c997bf4b62a821/assets/img/default-avatar-user.png?ssl=1">
                    </div>
                    <h3 class="ui header center aligned">DB3700</h3>
                    <div class="meta center aligned">
                        41, Male, Dealer
                    </div>
                </div>
            </div>
        </div>
        <div class="ui column">
            <div class="ui card">
                <div class="content">
                    <div class="ui container">
                        <img class="ui circular image" src="https://c2.staticflickr.com/4/3080/2765795841_32f66a3bbb_o.jpg">
                    </div>
                    <h3 class="ui header center aligned">Cloud Mob Guy</h3>
                    <div class="meta center aligned">
                        47, Male, Cloud Gangster
                    </div>
                </div>
            </div>
        </div>
        <div class="ui column">
            <div class="ui card">
                <div class="content">
                    <div class="ui container">
                        <img class="ui circular image" src="https://i2.wp.com/cdn2.iconfinder.com/static/2ae174f07522a6b8c7c997bf4b62a821/assets/img/default-avatar-user.png?ssl=1">
                    </div>
                    <h3 class="ui header center aligned">Chucko Taco</h3>
                    <div class="meta center aligned">
                        35, Male, Taco Truck Transformer
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('.ui.dropdown').dropdown();
    });
</script>

{% include 'mockup/partials/footer-menu.html.twig' with {'foo': 'bar'} %}

{% endblock %}


{% block includes %}
{% endblock %}
